---
// src/pages/contacto.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout>

    <Header />

    <main>
        <ContactForm />
    </main>

    <Footer />
</BaseLayout>
```

