---
---
<footer class="footer-section">
    <p>© {new Date().getFullYear()} DevEc. Todos los derechos reservados.</p>
  </footer>
  
  <style>
    .footer-section {
      padding: 2rem 1rem;
      text-align: center;
      font-family: var(--font-primary);
      background-color: #0C0D0D;
    }
    .footer-section p {
      font-family: var(--font-primary);
    }
  </style>
  