<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>DevEc</title>
    <!-- Fuente Instrument Serif desde Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap"
      rel="stylesheet"
    />
    <!-- Nueva fuente desde Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
    href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Just+Me+Again+Down+Here&display=swap" rel="stylesheet"
    />
    <!-- Importar el CSS de fuentes locales -->
    <link rel="stylesheet" href="/src/styles/fonts.css" />
    <!-- Importar estilos globales -->
    <link rel="stylesheet" href="/src/styles/global.css" />
  </head>
  <body class="hero-gradient">
    <slot />
  </body>
</html>
